<header id="header-navbar" class="content-mini content-mini-full">
  <ul class="nav-header pull-right">
    <li>
      <div class="btn-group dropdown-user">
        <button class="btn btn-link text-white dropdown-toggle" data-toggle="dropdown" type="button">
          <img ng-src="img/{{Auth.tokenParsed.preferred_username.toUpperCase()}}.JPG" alt="{{Auth.tokenParsed.name}}"> </button>
        <ul class="dropdown-menu dropdown-menu-right sidebar-mini-hide font-s13">
          <li>
            <a data-toggle="theme" data-theme="default" tabindex="-1" href="javascript:void(0)">{{Auth.tokenParsed.name}}</a>
          </li>
          <li class="divider"></li>
          <li>
            <a data-toggle="theme" data-theme="default" tabindex="-1" href="javascript:void(0)" ng-click="viewMyAccount()">
              <i class="icon-user-plus"></i> My profile</a>
          </li>
          <!-- <li><a data-toggle="theme" data-theme="default" tabindex="-1" href="javascript:void(0)"><span class="badge badge-warning pull-right">58</span> <i class="icon-comment-discussion"></i> Messages</a></li> -->
          <li class="divider"></li>
          <!--<li><a href="javascript:void(0)"><i class="icon-cog5"></i> Account settings</a></li>-->
          <li>
            <a href="javascript:void(0)" ng-click="logout()">
              <i class="icon-switch2"></i> Logout</a>
          </li>
        </ul>
      </div>
    </li>
    <!-- <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="mdi mdi-menu"></i></a>      </li> -->
  </ul>
  <div class="menu-top">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target="#navbar-collapse-2" class="navbar-toggle">
        <i class="fa fa-navicon"></i>
      </button>
      <a href="#" class="navbar-brand">
        <img src="img/logo.png" alt="" />
      </a>
    </div>
    <div id="navbar-collapse-2" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
          <li>
            <a data-ui-sref="eventReport" data-ui-sref-active="active">
              <i class="icon-stats-bars3"></i> Event Report
            </a>
          </li>
          <li>
              <a data-ui-sref="eventCalendar" data-ui-sref-active="active">
                <i class="icon-calendar push-5-r"></i> Event Calender</a>
          </li>
        <li>
          <a data-ui-sref="event" data-ui-sref-active="active">
            <i class="icon-grid push-5-r"></i> Browse Events</a>
        </li>
        <li>
          <a ng-show="((Auth != null) && (Auth.hasResourceRole('SYSTEM_ADMIN') || Auth.hasResourceRole('EVENT_ADMIN') || Auth.hasResourceRole('GROUP_ADMIN')))"
            data-ui-sref="eventCreate" data-ui-sref-active="active">
            <i class="icon-add push-5-r"></i>Create Event</a>
        </li>
        <li>
          <a ng-show="(Auth.hasResourceRole('SYSTEM_ADMIN')) || Auth.hasResourceRole('EVENT_ADMIN')" data-ui-sref="eventApproval" data-ui-sref-active="active">
            <i class=" icon-file-check2 push-5-r"></i> Approve Events</a>
        </li>
        <li class="dropdown"><a ng-show="(Auth.hasResourceRole('SYSTEM_ADMIN'))" href="javascript:vopid(0)" data-toggle="dropdown" class="dropdown-toggle"><i class="icon-cog52 prefix"></i>Manage<i class=" icon-arrow-down12"></i></a>
          <ul class="dropdown-menu">
            <li>
              <div class="menu-top-content megamenu clearfix">
                <ul class="col-lg-12 link-list">
                  <li><a href="javascript:void(0)" data-ui-sref="setupInstitutions"><i class="fa fa-arrow-circle-right"></i>Institutions</a></li>
                  <li><a href="javascript:void(0)" data-ui-sref="setupTrusts"><i class="fa fa-arrow-circle-right"></i>Trusts</a></li>
                  <li><a href="javascript:void(0)" data-ui-sref="setupAssociations" data-ui-sref-active="active"><i class="fa fa-arrow-circle-right"></i>Associations</a></li>
                  <li><a href="javascript:void(0)" data-ui-sref="setupClubs"><i class="fa fa-arrow-circle-right"></i>Clubs</a></li>
                  <li><a href="javascript:void(0)" data-ui-sref="setupVenues"><i class="fa fa-arrow-circle-right"></i>Venue</a></li>
                  <li><a href="javascript:void(0)" data-ui-sref="setupCategories"><i class="fa fa-arrow-circle-right"></i>Event Categories</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</header>