<ul class="breadcrumb">
  <li>Home</li>
  <li>Events Management</li>
  <li>
    <a class="link-effect" href="">Event Listing</a>
  </li>
</ul>

<!-- Page Content -->
<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="element-wrapper">
        <div class="element-actions">
          <a ng-show="(Auth.hasResourceRole('SYSTEM_ADMIN')) || Auth.hasResourceRole('EVENT_ADMIN') || Auth.hasResourceRole('CO-ORDINATOR')"
            href="#!/eventEdit/{{det._id}}" class="btn btn-primary">
            <i class="icon-pencil7"></i> Edit
          </a>
        </div>
        <h4 class="element-header">Event Detail</h4>
      </div>
      <div class="alert alert-success alert-white rounded" ng-show="(det.status=='Approved')">
          <button type="button" data-dismiss="alert" aria-hidden="true" class="close">×</button>
          <div class="icon">
              <i class="fa fa-check"></i>
          </div>
          <strong>Approved!</strong> 
      </div>
      <div class="alert alert-info alert-white rounded" ng-show="(det.status=='pending')">
          <button type="button" data-dismiss="alert" aria-hidden="true" class="close">×</button>
          <div class="icon">
              <i class="fa fa-info-circle"></i>
          </div>
          <strong>Pending!</strong> 
      </div>     
      <div class="alert alert-danger alert-white rounded" ng-show="(det.status=='Rejected')">
          <button type="button" data-dismiss="alert" aria-hidden="true" class="close">×</button>
          <div class="icon">
              <i class="fa fa-warning"></i>
          </div>
          <strong>Rejected!</strong> 
          {{det.reason}}!
      </div> 
      <!-- Page Content -->
      <div class="row">
        <div class="col-md-9">
          <div class="row push-30">
            <div class="col-md-12">
              <div class="event_detail">
                <div class="post-header">
                  <div class="post-date"> {{ det.startday }}
                    <span>{{ det.startmonth }}</span>
                  </div>
                  <h2>{{det.title}}</h2>
                  <ul>
                    <li>By: {{det.createdBy}}</li>
                    <li>
                      <i class="icon-bubbles4 push-5-r"></i>{{det.comment.length}} Comments</li>
                    <li>
                      <a href="javascript:void(0);">
                        <i class="icon-thumbs-up2 push-5-r"></i>100 Likes</a>
                    </li>
                  </ul>
                </div>
                <div class="post-cover">
                  <img src="{{ det.imgsrc }}" alt="event image" class="img-responsive" /> </div>
                <div class="blog-post">
                  <div class="post-content">
                    <p ng-bind-html="det.fdesc"></p>
                    <div ng-bind-html="withoutSanitize()"></div>
                  </div>
                  <h5 class="sub-title">Agenda</h5>
                  <div class="schedule">
                    <div class="schedule-content">
                      <ul class="shedule_date" data-js-tabs>
                        <li ng-repeat="dvDet in det.dayVisedetails track by $index">
                          <a data-toggle="tab" ng-show="(dvDet.day !='0')" href="#tab_day{{dvDet.day}}">
                            <span class="date-item"> Day {{dvDet.day}}
                              <div ng-repeat="val in dvDet.vals track by $index">
                                <strong> {{val.startdate}} </strong>
                              </div>
                            </span>
                          </a>
                        </li>
                      </ul>
                      <div class="shedule-date-content">
                        <div ng-repeat="dvDet in det.dayVisedetails track by $index" class="tab-pane schedule schedule-tab" id="tab_day{{dvDet.day}}">
                          <div ng-repeat="value in dvDet.vals track by $index">
                            <div class="speaker_item day">
                              <ul>
                                <li>
                                  <!-- <div class="avatar">
                                    <a href="speaker-detail.html">
                                      <img width="262" height="262" src="assets/img/avatars/avatar3.jpg" alt="speaker5" /> </a>
                                  </div> -->
                                  <div class="speaker_ds">
                                    <h6>
                                      <a href="speaker-detail.html">{{value.title}}</a>
                                    </h6>
                                    <div class="meta">
                                      <span class="time">
                                        <i class="icon-alarm"></i> {{value.starttime}} - {{value.endtime}}
                                      </span>
                                      <span class="location">
                                        <i class="icon-location3"></i> {{value.venue.name }}
                                      </span>
                                      <span class="name">
                                        <i class="icon-mic2"></i>
                                        <span ng-repeat="v in value.guests">{{v.name}},{{v.desgn}} from {{v.org}}
                                        </span>
                                      </span>
                                    </div>
                                    <div>

                                    </div>
                                    <div class="ds">
                                      <p ng-bind-html="value.summary"></p>
                                      <div ng-bind-html="withoutSanitize()"></div>
                                    </div>
                                  </div>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- <section>
                      <h5 class="sub-title">Gallery</h5>
                      <div class="gal-container push-30-b col-md-12 col-sm-6">
                        <div class="col-md-4 col-sm-6 co-xs-12 gal-item" ng-repeat="img in det.imageGallery">
                          <div class="box">
                            <a href="javascript:void(0)" data-toggle="modal" data-target="#{{$index}}">
                              <img ng-src='events/displayPicture/{{img.contentType}}/{{img.id}}/{{img.originalname}}'> </a>
                            <div class="modal fade" id="{{$index}}" tabindex="-1" role="dialog">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                  </button>
                                  <div class="modal-body">
                                    <img ng-src='events/displayPicture/{{img.contentType}}/{{img.id}}/{{img.originalname}}'>
                                  </div>
                                  <div class="col-md-12 description">
                                    <h4>{{img.caption}}</h4>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </section> -->
                  <section>
                    <h5 class="sub-title">Gallery</h5>
                    
                    <div class="gal-container push-30-b ">
                      <div class="col-md-4 col-sm-6 co-xs-12 gal-item" ng-repeat="img in det.imageGallery">
                        <div class="box">
                          <a href="javascript:void(0)" data-toggle="modal" data-target="#{{$index}}">
                            <img ng-src='events/displayPicture/{{img.contentType}}/{{img.id}}/{{img.originalname}}'> </a>
                          <div class="modal fade" id="{{$index}}" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">×</span>
                                </button>
                                <div class="modal-body">
                                  <img ng-src='events/displayPicture/{{img.contentType}}/{{img.id}}/{{img.originalname}}'> </div>
                                <div class="col-md-12 description">
                                  <h4>{{img.caption}}</h4>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                  </section>

                  <h5 class="sub-title">Post Summary</h5>
                  <div class="ds">
                    <p ng-bind-html="det.eventPostSummary"></p>
                    <div ng-bind-html="withoutSanitize()"></div>
                  </div>

                  <h5 class="sub-title">Sponsor Details</h5>
                  <div class="col-sm-12" ng-repeat="sponsor in det.sponsors">
                    <div class="avatar col-sm-3">
                      <img width="100" height="100" ng-src="{{sponsor.logo}}" />
                    </div>
                    <div class="col-sm-3">
                      <span>
                        <h6> {{sponsor.name}} </h6>
                      </span>
                    </div>
                  </div>
                  <div class="post-footer">&nbsp;</div>
                  <hr />
                  <div class="push-60-l push-60-r" ng-show="(det.sharing=='Yes')">
                    <h5 class="sub-title">Post Your Thoughts</h5>
                    <div class="row form-group">
                      <div class="col-sm-12">
                        <textarea rows="4" class="form-control" id="postComment" placeholder="Your Comments" data-ng-model="comment"></textarea>
                      </div>
                    </div>
                    <div class="row form-group pull-right">
                      <div class="col-sm-12">
                        <button class="btn btn-primary" type="submit" ng-click="postComment(comment)">Join Discussion</button>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row">
                      <div class="col-lg-12">
                        <h5 class="sub-title">Comments</h5>
                        <div class="user-list" ng-repeat="comm in det.comment | orderBy:'-'">
                          <div class="user-w">
                            <div class="user-info">
                              <div class="user-date">{{comm.time}}</div>
                              <div class="last-message">{{comm.comment}}</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- blog END -->

              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 ">
          <div class="block">
            <div class="event-meta">
              <div class="event-meta-block">
                <i class="icons icon-calendar"></i>
                <p class="title">Start Date - End Date</p>
                <p>{{det.startdate}} - {{det.enddate}}</p>
              </div>
              <div class="event-meta-block">
                <i class="icon-alarm"></i>
                <p class="title">Start Time - End Time</p>
                <p>{{ det.starttime}} - {{det.endtime}}</p>
              </div>
              <div class="event-meta-block">
                <i class="icon-location3"></i>
                <p class="title">Event Venue</p>
                <p>{{det.venue.name}}</p>
                <p>{{det.venue.hallNo}},{{det.venue.blockName}}</p>
              </div>
              <div class="event-meta-block">
                <i class="icon-office"></i>
                <p class="title">Organizing Body</p>
                <p>{{det.orgBody}}</p>
              </div>
              <div class="event-meta-block">
                <i class="icon-user"></i>
                <p class="title">Organizer Name</p>
                <p>{{det.orgBy.name}}</p>
              </div>
              <!-- <div class="event-meta-block">
                  <i class="icon-phone2"></i>
                  <p class="title">Organizer Phone</p>
                  <p>{{det.OrgPhone}}</p>
                </div>
                <div class="event-meta-block">
                  <i class="icon-envelope"></i>
                  <p class="title">Organizer Email</p>
                  <p>
                    <a href="mailto:mail@companyname.com">{{det.OrgEmail}}</a>
                  </p>
                </div> -->
              <div class="event-meta-block" ng-show="(Auth.hasResourceRole('SYSTEM_ADMIN')) || Auth.hasResourceRole('EVENT_ADMIN') || Auth.hasResourceRole('GROUP_ADMIN')">
                <i class="icon-ticket"></i>
                <p class="title">Cost</p>
                <p>{{det.Cost}}</p>
              </div>
              <div class="event-meta-block">
                <i class="icons icon-folder-open"></i>
                <p class="title">Category</p>
                <p>{{ det.category}}</p>
              </div>
              <div class="event-meta-block">
                <i class="icon-price-tag2"></i>
                <p class="title">Tags</p>
                <p>
                  <span ng-repeat="tag in det.tags track by $index">
                    <!-- <a href="#">{{tag}}</a>{{$last ? '' : ', '}} -->
                    {{tag}}{{$last ? '' : ', '}}
                  </span>
                </p>
              </div>
              <div class="event-meta-block">
                <i class="icon-share3"></i>
                <p class="title">Share This</p>
                <ul class="social-share">
                  <li class="facebook">
                    <a href="#" class="tooltip-ontop" title="Facebook">
                      <i class="icon-facebook"></i>
                    </a>
                  </li>
                  <li class="twitter">
                    <a href="#" class="tooltip-ontop" title="Twitter">
                      <i class="icon-twitter"></i>
                    </a>
                  </li>
                  <li class="google">
                    <a href="#" class="tooltip-ontop" title="Google Plus">
                      <i class="icon-google-plus"></i>
                    </a>
                  </li>
                  <li class="email">
                    <a href="#" class="tooltip-ontop" title="Email">
                      <i class="icon-envelope"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END Page Content -->