<div>
  <ul class="breadcrumb">
    <li>Home</li>
    <li><a class="link-effect" href="">Events Management</a></li>
  </ul>
  <!-- END Page Header -->

  <!-- Page Content -->
  <div class="content">
    <div class="element-wrapper">
      <div class="element-actions"></div>
      <h4 class="element-header">Event Management</h4>
    </div>
    <div class="form-group">
        <div class="pull-right">
            <select class="form-control" id="ChosenValue" name="ChosenValue" data-placeholder=""
              data-ng-model="chosenValue">
              <option value="All">All</option>
              <option value="Approved">Approved</option>
              <option value="pending">Pending</option>
              <option value="Rejected">Rejected</option>
            </select>
          </div>
        </div>
    <div class="block">
        <div class="block-content">
          <div class="row push-30">
            <div class="col-sm-12">
              <table class="table table-striped table-hover standard-table js-dataTable-full">
                <tr>
                  <th>Event</th>
                  <th>Date & Time</th>
                  <th>Venue</th>
                  <th>Organizing Body</th>
                  <th>Organizer Name</th>
                  <th>Event Category</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
                <tr ng-repeat="event in events | filter:myFilter">
                  <td><a href="#!/events/{{event._id}}">{{event.title}}</a></td>
                  <td>{{event.startdate}}-{{event.starttime}}</td>
                  <td>{{event.venue.name}}</td>
                  <td>{{event.orgBody}}</td>
                  <td>{{event.orgBy.name}}</td>
                  <td>{{event.category}}</td>
                  <td>{{event.status}}</td>
                  <td> 
                    <button class="btn btn-default btn-xs push-5-r" ng-click="approveEvent($index)" id="approve-event-btn" ng-show = "event.status=='pending' || event.status=='Rejected'" ><i class="icon-checkmark2"></i> Approve </button>
                    <button class="btn btn-default btn-xs push-5-r" data-target="#rejectMsgModal" data-toggle="modal" href="#" id="reject-event-btn" ng-click="setUp($index)"  ng-show = "event.status=='Approved' || event.status=='pending'"><i class="icon-cross3"></i> Reject</button>
                  </td>
                </tr>
              </table>
            </div>
          </div>  
        </div>
    </div>
    <div id="rejectMsgModal" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Add Reason </h4>
            </div>
            <div class="modal-body">
              <form class="js-validation-bootstrap">
                  <div class="row form-group">
                      <div class="col-sm-12">
                        <textarea rows="4" class="form-control" id="postReason" placeholder="Reason for Rejection" data-ng-model="reason"></textarea>
                      </div>
                    </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <button type="button" ng-click="rejectEvent(reason)" class="btn btn-primary" data-dismiss="modal">Post </button>
            </div>
          </div>
        </div>
    </div> 
  </div>
</div>