<ul class="breadcrumb">
    <li>Home</li>
    <li>Events Management</li>
    <li><a class="link-effect" href="">Create Event</a></li>
  </ul>
  
  <!-- Page Content -->
  <div class="content">
  <div class="row">
  <div class="col-md-12">
  <div class="element-wrapper">
    <h4 class="element-header">Create Event</h4>
  </div>
  <!-- Page Content -->
  
  <div class="row push-30">
  <div class="col-md-9">
    <div class="event_detail">
      <div class="block-content">
        <div class="" id="message-div" style="display:none">
          </div>
        <div class="push-30 b-b padded-tb js-validation-bootstrap" id="eventCreateForm ">
          <h5 class="sub-title">Event Details</h5>
          <div class="row form-group">
            <div class="col-sm-6">
              <label for="eventTitle" class="required">Event Title</label>
              <input id="eventTitle" placeholder="Give it a short distinct name" class="form-control"  type="text" data-ng-model="event.title">
            </div>
            <div class="col-sm-6">
              <label for="eventLocation">Venue</label>
              <select data-js-select2 class="form-control" id="eventLocation" data-placeholder="Search for a venue or location"
                data-ng-options="venue.name for venue in venues" data-ng-model="event.venue">
              </select>
            </div>
          </div>
          <div class="row form-group">
              <div class="col-sm-6">
                <label for="eventStart">Starts</label>
                <div class="input-group date">
                  <input data-js-datetimepicker class="form-control" type="text" id="example-datetimepicker2" name="example-datetimepicker2"
                    placeholder="Choose Date and Time" datepicker-date="event.start">
                  <span class="input-group-addon">
                    <span class="icon-calendar2"></span>
                  </span>
                </div>
              </div>
              <div class="col-sm-6">
                <label for="eventEnd">Ends</label>
                <div class="input-group date">
                  <input data-js-datetimepicker class="form-control" type="text" id="example-datetimepicker1" name="example-datetimepicker1"
                    placeholder="Choose Date and Time" datepicker-date="event.end" >
                  <span class="input-group-addon">
                    <span class="icon-calendar2"></span>
                  </span>
                </div>
              </div>
            </div>
          <div class="row form-group">
            <div class="col-sm-6">
              <label for="eventImage">Event Image</label>
                <div class="dropzone" options="displayPicture.dzOptions" callbacks="displayPicture.dzCallbacks" method="displayPictures.dzMethods"
                  ng-dropzone></div>    
            </div>
            <div class="col-sm-6">
              <label for="eventDesc">Event Description</label>
              <br>
              <div data-js-summernote id="eventDesc" name="eventDesc"></div>
            </div>
          </div>
        </div>
        <div class="push-30 b-b padded-b">
          <h5 class="sub-title">Organizer Details</h5>
          
            <!-- <div class="input-group">
              <span class="input-group-btn" style="width:57%">
                <select data-js2-select2 class="form-control" id="eventOrgBody" name="eventOrgBody" data-placeholder="Select Organizing Body"
                data-ng-model="event.orgBody" ng-change="loadGroups(event.orgBody)">
                  <option value="associations">Association</option>
                  <option value="clubs">Club</option>
                  <option value="institutions">Institution</option>
                  <option value="trusts">Trust</option>
                  <option value="external">External</option>
              </select>
              </span>
              <span class="input-group-btn" style="width:57%" ng-show="(event.orgBody !='external')">
                <select data-js2-select2 class="form-control" id="eventOrgBy" name="eventOrgInst" data-placeholder="Select Association" data-ng-options="group.name for group in groups"
                data-ng-model="event.orgBy"></select>
              </span>
              <span class="input-group-btn"  style="width:57%" ng-show="(event.orgBody =='external')">
                <input id="groupName" placeholder="Give it a short distinct name" class="form-control"  type="text" data-ng-model="event.orgBy.name">
              </span>
              <span class="input-group-btn">
                <button type="button" class="btn btn-grey btn-sm" ng-click="addGroup()"> <i class="icon-plus2"></i></button>
              </span>
              <span class="input-group-btn">
                <button type="button" class="btn btn-danger" title="Remove Group" ng-click="removeGroup($index)"><i class="icon-cross"></i></button>
              </span> 
            </div> -->
          
          <div class="row form-group">
            <div class="col-sm-6">
              <label for="eventOrgInst">Group Type</label>
              <select data-js2-select2 class="form-control" id="eventOrgBody" name="eventOrgBody" data-placeholder="Select Organizing Body"
                data-ng-model="event.orgBody" ng-change="loadGroups(event.orgBody)">
                  <option value="associations">Association</option>
                  <option value="clubs">Club</option>
                  <option value="institutions">Institution</option>
                  <option value="trusts">Trust</option>
                  <option value="external">External</option>
              </select>
            </div>
            <div class="col-sm-6" ng-show="(event.orgBody !='external')">
              <label for="groupName">Group Name</label>
                <select data-js2-select2 class="form-control" id="eventOrgBy" name="eventOrgInst" data-placeholder="Select Association" data-ng-options="group.name for group in groups"
                  data-ng-model="event.orgBy"></select>
            </div>
            <div class="col-sm-6" ng-show="(event.orgBody =='external')">
                <label for="groupName">Group Name</label>
                <input id="groupName" placeholder="Give it a short distinct name" class="form-control"  type="text" data-ng-model="event.orgBy.name">
            </div>
          </div>
          <div class="row form-group">
            <div class="col-sm-6">
              <div class="row">
              <div class="col-sm-6">
                  <label for="eventOrgName">Event Category</label>
                  <select data-js2-select2 class="form-control" id="eventOrgBy" name="eventOrgInst" data-placeholder="Select Category" data-ng-options="category for category in event.orgBy.categories"
                    data-ng-model="event.category"></select>
              </div>
              <div class="col-sm-6">
                  <label for="eventCost">Estimated Cost</label>
                    <input id="eventCost" name="eventCost" placeholder="" class="form-control"  type="text" data-ng-model="event.Cost">
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <label for="coordtype">Event Co-ordinators</label>
              <div class="input-group" ng-repeat="coordinator in event.coordinators"> 
                <span class="input-group-btn" style="width:30%">
                  <select data-js-select2 ng-init="coordinator.type='Student'" class="form-control" id="coordtype" data-placeholder="Coordinator Type" data-ng-model="coordinator.type">
                      <option value="Student">Student</option>
                      <option value="Faculty">Faculty</option>
                  </select>
                </span> 
                <span class="input-group-btn" style="width:30%">
                    <div ng-show="(coordinator.type=='Student')">
                    <ui-select  ng-model="coordinator.details" theme="bootstrap" title="Choose a person" multiple>
                        <ui-select-match placeholder="Select a person">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="student in students" refresh="loadSuggestion($select.search)" minimum-input-length="3">
                          <div ng-bind-html="student.name | highlight: $select.search"></div>
                          <small>
                            no: {{student.no}}
                          </small>
                        </ui-select-choices>
                      </ui-select>
                    </div>
                    <div ng-show="(coordinator.type=='Faculty')">
                        <ui-select ng-model="coordinator.details" theme="bootstrap" title="Choose a person">
                          <ui-select-match placeholder="Select a person">{{$select.selected.name}}</ui-select-match>
                          <ui-select-choices repeat="faculty in faculties" refresh="loadSuggestionFaculty($select.search)" minimum-input-length="3">
                            <div ng-bind-html="faculty.name | highlight: $select.search"></div>
                            <small>
                              no: {{faculty.no}}
                            </small>
                          </ui-select-choices>
                        </ui-select>
                      </div>
                  <!-- <select data-js-select2 class="form-control" id="coordrole" data-placeholder="Coordinator Role"  >
                  <option></option>
                  </select> -->
                </span> 
                <span class="input-group-btn" style="width:30%">
                    <input id="coordinatorRole" class="form-control"  name="coordinatorRole" placeholder="Co-ordinator Role in Event"
                    class="form-control" type="text" data-ng-model="coordinator.role">
                </span>
                <span class="input-group-btn">
                  <button type="button" class="btn btn-danger" title="Remove Coordinator" ng-click="removeCoordinator($index)"><i class="icon-cross"></i></button>
                </span> 
              </div>
              <button type="button" class="btn btn-grey btn-sm" ng-click="addCoordinator()"> <i class="icon-plus2"></i> Add another Co-ordinator </button>
            </div>
          </div>
        </div>
        <div class="push-30 b-b padded-b">
          <div class="profile-sections-header-w">
            <h5 class="profile-sections-header">Agenda</h5>
            <a class="add-task-btn" data-target="#addAgendaModal" data-toggle="modal" href="#"><i class="icon-plus-circle2"></i><span>Add Agenda</span></a></div>
          <table class="table table-striped table-hover standard-table js-dataTable-full">
            <thead>
              <tr>
                <th>Day</th>
                <th>Time</th>
                <th>Venue</th>
                <th>Guest</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="agen in agendalist">
                <td data-title="Day">{{agen.day}} </td>
                <td data-title="Time"><i class="icon-alarm"></i> {{agen.starttime}} - {{agen.endtime}}</td>
                <td>{{agen.venue.name}}-{{agen.venue.hallNo}} &quot;{{agen.venue.blockName}}&quot; </td>
                <td><div ng-repeat="guest in agen.guests"><strong>{{guest.name}}</strong>,{{guest.desgn}},{{guest.org}}</div></td>
                <td>
                  <a href="#" data-target="#editAgendaModal" data-toggle="modal" ng-click="setupAgenda($index)"><i class="icon-pencil"></i></a>
                  <a href="" ng-click="removeAgenda($index)"><i class="icon-minus-circle2"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- Modal for Add Agenda -->
        <div id="addAgendaModal" class="modal fade">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title">Add Agenda</h4>
                </div>
                <div class="modal-body">
                  <form class="js-validation-bootstrap">
                    <div class="row form-group">
                      <div class="col-sm-6">
                        <label for="eventAgendaStart">Starts</label>
                          <div class="input-group date">
                            <input data-js-datetimepicker class="form-control" type="text" id="eventAgendaStart" name="eventAgendaStart" placeholder="Choose Date and Time"
                              datepicker-date="agenda.start">
                              <span class="input-group-addon">
                                <span class="icon-calendar2"></span>
                              </span>
                          </div>
                      </div>
                      <div class="col-sm-6">
                        <label for="eventAgendaEnd">Ends</label>
                        <div class="input-group date">
                          <input data-js-datetimepicker class="form-control" type="text" id="eventAgendaEnd" name="eventAgendaEnd" placeholder="Choose Date and Time"
                            datepicker-date="agenda.end">
                            <span class="input-group-addon">
                              <span class="icon-calendar2"></span>
                            </span>
                        </div>
                      </div>
                    </div>
                    <div class="row form-group">
                      <div class="col-sm-6">
                        <label for="eventAgendaTitle">Agenda Title</label>
                        <input id="eventAgendaTitle" name="eventAgendaTitle" placeholder="Give it a short distinct name" class="form-control" type="text"
                          data-ng-model="agenda.title">
                      </div>
                      <div class="col-sm-6">
                        <label for="eventAgendaSummary">Agenda Summary</label>
                        <textarea class="form-control" id="eventAgendaSummary" name="eventAgendaSummary" data-ng-model="agenda.summary"></textarea>
                      </div>
                    </div>
                    <div class="row form-group ">
                      <div class="col-sm-6">
                        <label for="eventAgendaVenue">Venue</label>
                          <select data-js2-select2 class="form-control" id="eventAgendaVenue" name="eventAgendaVenue" data-placeholder="Search for a venue"
                            data-ng-options="venue.name for venue in venues" data-ng-model="agenda.venue">
                          </select>
                      </div>
                      <div class="col-sm-6">
          
                      </div>
                    </div>
                    <div class="row form-group">
                      <div class="col-sm-12">
                        <label for="agendaSpeakers">Guest(s)</label>    
                          <div class="input-group form-group" ng-repeat="guest in agenda.guests">
                            <input type="text" style="width:25%" class="form-control" id="agendaguest" data-ng-model="guest.name" placeholder="Guest name">
                            <input type="text" style="width:25%" class="form-control" id="agendaguestRole" data-ng-model="guest.role" placeholder="Guest role">
                            <input type="text" style="width:25%" class="form-control" id="agendaguestOrg" data-ng-model="guest.org" placeholder="Guest Organisation">
                            <input type="text" style="width:25%" class="form-control" id="agendaguestDesgn" data-ng-model="guest.desgn" placeholder="Guest Designation">
              
                            <span class="input-group-addon" ng-show="$index>0">
                              <a href="javascript:void(0)" ng-click="removeGuest($index)">
                                <i class="icon-minus2"></i>
                              </a>
                            </span>
                            <span class="input-group-addon">
                              <a href="javascript:void(0)" ng-click="addGuest()">
                                <i class="icon-plus2"></i>
                              </a>
                            </span>
                          </div>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                  <button type="button" ng-click="addAgenda(agenda)" class="btn btn-primary" data-dismiss="modal">Add </button>
                </div>
              </div>
            </div>
        </div> 
        <div id="editAgendaModal" class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Edit Agenda</h4>
              </div>
              <div class="modal-body">
                <form class="js-validation-bootstrap">
                  <div class="row form-group">
                    <div class="col-sm-6">
                      <label for="eventAgendaStart">Starts</label>
                        <div class="input-group date">
                          <input data-js-datetimepicker class="form-control" type="text" id="eventAgendaStart" name="eventAgendaStart" placeholder="Choose Date and Time"
                          ng-model="agenda.start" datetimepicker-val="agenda.start" datepicker-date="agenda.start">
                            <span class="input-group-addon">
                              <span class="icon-calendar2"></span>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                      <label for="eventAgendaEnd">Ends</label>
                      <div class="input-group date">
                        <input data-js-datetimepicker class="form-control" type="text" id="eventAgendaEnd" name="eventAgendaEnd" placeholder="Choose Date and Time"
                        ng-model="agenda.end" datetimepicker-val="agenda.end" datepicker-date="agenda.end">
                          <span class="input-group-addon">
                            <span class="icon-calendar2"></span>
                          </span>
                      </div>
                    </div>
                  </div>
                  <div class="row form-group">
                    <div class="col-sm-6">
                      <label for="eventAgendaTitle">Agenda Title</label>
                      <input id="eventAgendaTitle" name="eventAgendaTitle" placeholder="Give it a short distinct name" class="form-control" type="text"
                        data-ng-model="agenda.title">
                    </div>
                    <div class="col-sm-6">
                      <label for="eventAgendaSummary">Agenda Summary</label>
                      <textarea class="form-control" id="eventAgendaSummary" name="eventAgendaSummary" data-ng-model="agenda.summary"></textarea>
                    </div>
                  </div>
                  <div class="row form-group ">
                    <div class="col-sm-6">
                      <label for="eventAgendaVenue">Venue</label>
                        <select data-js2-select2 class="form-control" id="eventAgendaVenue" name="eventAgendaVenue" data-placeholder="Search for a venue"
                          data-ng-options="venue.name for venue in venues" data-ng-model="agenda.venue">
                        </select>
                    </div>
                    <div class="col-sm-6">
        
                    </div>
                  </div>
                  <div class="row form-group">
                    <div class="col-sm-12">
                      <label for="agendaSpeakers">Guest(s)</label>    
                        <div class="input-group form-group" ng-repeat="guest in agenda.guests">
                          <input type="text" style="width:25%" class="form-control" id="agendaguest" data-ng-model="guest.name" placeholder="Guest name">
                          <input type="text" style="width:25%" class="form-control" id="agendaguestRole" data-ng-model="guest.role" placeholder="Guest role">
                          <input type="text" style="width:25%" class="form-control" id="agendaguestOrg" data-ng-model="guest.org" placeholder="Guest Organisation">
                          <input type="text" style="width:25%" class="form-control" id="agendaguestDesgn" data-ng-model="guest.desgn" placeholder="Guest Designation">
            
                          <span class="input-group-addon" ng-show="$index>0">
                            <a href="javascript:void(0)" ng-click="removeGuest($index)">
                              <i class="icon-minus2"></i>
                            </a>
                          </span>
                          <span class="input-group-addon">
                            <a href="javascript:void(0)" ng-click="addGuest()">
                              <i class="icon-plus2"></i>
                            </a>
                          </span>
                        </div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" ng-click="editAgenda(agenda)" class="btn btn-primary" data-dismiss="modal">Edit </button>
              </div>
            </div>
          </div>
        </div> 
        <div class="push-30 b-b padded-b">
          <div class="profile-sections-header-w">
            <h5 class="profile-sections-header">Sponsors</h5>
            <a class="add-task-btn" data-target="#addSponsorModal" data-toggle="modal" href="#"><i class="icon-plus-circle2"></i><span>Add Sponsor</span></a></div>
          <div class="sponsors-logo">
            <ul class="list sponsors-five-cloumn" ng-repeat="sponsor in event.sponsors">
              <span> <a href="#"><img ng-src="{{sponsor.logo}}" alt=""></a> </span>
              <span class="add-task-btn" href="" ng-click="removeSponsor($index)"><i class="icon-minus-circle2"></i></span>
            </ul>
          </div>
        </div>
        <div id="addSponsorModal" class="modal fade">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title">Add Sponsor</h4>
                </div>
                <div class="modal-body">
                  <form class="js-validation-bootstrap">
                    <div class="row form-group">
                      <div class="col-sm-6">
                        <label for="sponsorName">Sponsor Name</label>
                            <input id="sponsorName" name="sponsorName" placeholder="Give it a short distinct name" class="form-control" type="text" data-ng-model="sponsor.name">
                      </div>
                      <div class="col-sm-6">
                        <label for="sponsorLink">Sponsor WebLink</label>
                          <input id="sponsorLink" name="sponsorLink" placeholder="" class="form-control" type="text" data-ng-model="sponsor.link"> 
                      </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-6">
                          <label for="sponsorLogo">Sponsor Logo</label>
                              <input id="sponsorLogo" name="sponsorLogo" placeholder="" class="form-control" type="text" data-ng-model="sponsor.logo">
                        </div>
                        <div class="col-sm-6">
                            <label for="sponsorLevel">Sponsor Level</label>
                            <input id="sponsorLevel" name="sponsorLevel" placeholder="" class="form-control" type="text" data-ng-model="sponsor.level">
                        </div>
                      </div>   
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                  <button type="button" ng-click="addSponsor(sponsor)" class="btn btn-primary" data-dismiss="modal">Add </button>
                </div>
              </div>
            </div>
          </div>
        <!-- <div class="push-30 b-b padded-b">
          <h5 class="sub-title">Gallery Images</h5>
          <div class="row form-group">
            <div class="col-sm-4">
              <div data-js-dropzone class="dropzone">
                <div class="dz-message" data-dz-message><span>Add Gallery Images</span></div>
              </div>
            </div>
            <div class="col-sm-4"> </div>
            <div class="col-sm-4"> </div>
          </div>
        </div> -->
        <div class="push-30 b-b padded-b">
          <h5 class="sub-title">Additional Details</h5>
                <div class="row form-group">
                  <div class="col-sm-7">
                    <label for="Setcategory">Tags for Search</label>
                    <!-- <input data-js-tags-input class="form-control" ng-model="event.tags"> -->
                    <tags-input ng-model="event.tags" class="angtaginput" use-strings="true"></tags-input>
                  </div>
                </div>
          <div class="row form-group">
            <div class="col-sm-6">
              <label for="eventPrivacy">Listing Privacy</label>
              <br>
              <label class="css-input css-radio css-radio-primary m-r-20" for="radios-2">
                <input name="radios2" id="radios-2" value="Public Page" type="radio" data-ng-model="event.page">
                <span></span> Public page: <span class="help-block">Discoverable by anyone in the Institution and search engines.</span> </label>
              <br>
              <label class="css-input css-radio css-radio-primary" for="radios-3">
                <input name="radios2" id="radios-3" value="Private Page" type="radio" data-ng-model="event.page">
                <span></span> Private page: <span class="help-block">Accessible only by people you specify.</span> </label>
            </div>
            <div class="col-sm-6">
              <label for="eventSharing">Allow Comments?</label>
              <br>
              <label class="css-input css-radio css-radio-primary m-r-20" for="eventSharing1">
                <input name="eventSharing" id="eventSharing1" value="Yes" type="radio" data-ng-model="event.sharing">
                <span></span> Yes </label>
              <label class="css-input css-radio css-radio-primary" for="eventSharing2">
                <input name="eventSharing" id="eventSharing2" value="No" type="radio" data-ng-model="event.sharing">
                <span></span> No </label>
            </div>
          </div>
        </div>
        <div class="row form-group pull-right">
          <div class="col-sm-12">
              <button class="btn btn-secondary push-10-r" type="reset" ng-click="clearDetails()">Cancel</button>
              <button class="btn btn-primary" type="submit" ng-click="createEvent(event)" id="add-event-btn">Add Event</button>
          </div>
        </div>
        <div class="clearfix"></div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-3 ">
  <div class="sidebar-filter">
  <div class="block">
    <div class="sidebar-filter-title"><span>Tips</span>
      <ul class="block-options pull-right">
        <li>
          <button type="button" data-js-block-option data-action="content_toggle"></button>
        </li>
      </ul>
    </div>
    <div class="block-content sidebar-filter-content">
      <p><span class="font-w600">Boost your event attendance by</span>:</p>
      <ul class="list-simple-mini">
        <li>Grabbing attention with a compelling event image</li>
        <li>Adding a clear event description with FAQs (like refund policy or dress code)</li>
        <li>Promoting all your upcoming events in one place with your organizer profile page</li>
      </ul>
      <p class="push-30-t"><span class="font-w600">There are four levels of privacy for events that you can adjust at any time</span>: </p>
      <ul class="list-simple-mini">
        <li><span class="font-w600">Public:</span> Your event is visible on our site and   search engines like Google. With public events, pick an event type and   topic so attendees can find your event.</li>
        <li><span class="font-w600">Private:</span> Your event can't be found via   search, but people with the URL can see the event page. (You can choose to let the event be shared on social media.)</li>
        <li><span class="font-w600">Password protected:</span> You set a password attendees must enter to see your event page.</li>
        <li><span class="font-w600">Invite-only:</span> Attendees can only register through the invitation you send them.</li>
      </ul>
    </div>
  </div>
  
  <!-- END Page Content -->