<ul class="breadcrumb">
  <li>Home</li>
  <li>Events Management</li>
  <li>
    <a class="link-effect" href="">Event Listing</a>
  </li>
</ul>

<!-- Page Content -->
<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="element-wrapper">
        <div class="element-box">
          <div class="element-info">
            <div class="row align-items-center">
              <div class="col-sm-8">
                <div class="element-info-text">
                  <h4 class="element-inner-header">Events List</h4>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="element-search">
                  <input placeholder="Type to search for events..." type="text">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Page Content -->
      <div class="row">
        <div class="col-md-2 col-sm-3">
          <div class="sidebar-filter">
            <div class="block">
              <div class="sidebar-filter-title">
                <span>Date</span>
                <ul class="block-options pull-right">
                  <li>
                    <button type="button" data-js-block-option data-action="content_toggle"></button>
                  </li>
                </ul>
              </div>
              <div class="block-content sidebar-filter-content">
                <form>
                  <div class="form-group">
                    <label class="css-input css-checkbox css-checkbox-primary" ng-repeat="date in datefilters" for="d-{{date}}">
                      <input type="checkbox" id="d-{{date}}" ng-click="includeDate(date)">
                      <span></span>{{date}}
                    </label>
                  </div>
                </form>
              </div>
            </div>

            <div class="block">
              <div class="sidebar-filter-title">
                <span>Categories</span>
                <ul class="block-options pull-right">
                  <li>
                    <button type="button" data-js-block-option data-action="content_toggle"></button>
                  </li>
                </ul>
              </div>
              <div class="block-content sidebar-filter-content">
                <div data-js-slimscroll="{alwaysVisible: true, color: '#bbbbbb'}">
                  <form>
                    <div class="form-group">
                      <label class="css-input css-checkbox css-checkbox-primary" ng-repeat="category in categories" for="c-{{category}}">
                        <input type="checkbox" id="c-{{category}}" ng-click="includeEvent(category)">
                        <span></span>{{category}}
                      </label>
                    </div>
                  </form>
                </div>
              </div>
            </div>

            <div class="block">
              <div class="sidebar-filter-title">
                <span>Venue</span>
                <ul class="block-options pull-right">
                  <li>
                    <button type="button" data-js-block-option data-action="content_toggle"></button>
                  </li>
                </ul>
              </div>
              <div class="block-content sidebar-filter-content">
                <form>
                  <div class="form-group">
                    <label class="css-input css-checkbox css-checkbox-primary" ng-repeat="venue in venues" for="v-{{venue}}">
                      <input type="checkbox" id="v-{{venue}}" ng-click="includeVenue(venue)">
                      <span></span>{{venue.name}}
                    </label>
                  </div>
                </form>
              </div>
            </div>

            <div class="block">
              <div class="sidebar-filter-title">
                <span>Associations</span>
                <ul class="block-options pull-right">
                  <li>
                    <button type="button" data-js-block-option data-action="content_toggle"></button>
                  </li>
                </ul>
              </div>
              <div class="block-content sidebar-filter-content">
                <form>
                  <div class="form-group">
                    <label class="css-input css-checkbox css-checkbox-primary" ng-repeat="association in associations" for="a-{{association.name}}">
                      <input type="checkbox" id="a-{{association.name}}" ng-click="includeAssociation(association.name)">
                      <span></span>{{association.name}}
                    </label>
                  </div>
                </form>
              </div>
            </div>

            <div class="block">
              <div class="sidebar-filter-title">
                <span>Clubs</span>
                <ul class="block-options pull-right">
                  <li>
                    <button type="button" data-js-block-option data-action="content_toggle"></button>
                  </li>
                </ul>
              </div>
              <div class="block-content sidebar-filter-content">
                <form>
                  <div class="form-group">
                    <label class="css-input css-checkbox css-checkbox-primary" ng-repeat="club in clubs" for="c-{{club.name}}">
                      <input type="checkbox" id="c-{{club.name}}" ng-click="includeClub(club.name)">
                      <span></span>{{club.name}}
                    </label>
                  </div>
                </form>
              </div>
            </div>

            <div class="block">
              <div class="sidebar-filter-title">
                <span>Institutions</span>
                <ul class="block-options pull-right">
                  <li>
                    <button type="button" data-js-block-option data-action="content_toggle"></button>
                  </li>
                </ul>
              </div>
              <div class="block-content sidebar-filter-content">
                <form>
                  <div class="form-group">
                    <label class="css-input css-checkbox css-checkbox-primary" ng-repeat="institution in institutions" for="i-{{institution.name}}">
                      <input type="checkbox" id="i-{{institution.name}}" ng-click="includeInstitution(institution.name)">
                      <span></span>{{institution.name}}
                    </label>
                  </div>
                </form>
              </div>
            </div>

            <div class="block">
              <div class="sidebar-filter-title">
                <span>Trust</span>
                <ul class="block-options pull-right">
                  <li>
                    <button type="button" data-js-block-option data-action="content_toggle"></button>
                  </li>
                </ul>
              </div>
              <div class="block-content sidebar-filter-content">
                <form>
                  <div class="form-group">
                    <label class="css-input css-checkbox css-checkbox-primary" ng-repeat="trust in trusts" for="t-{{trust}}">
                      <input type="checkbox" id="t-{{trust}}" ng-click="includeTrust(trust)">
                      <span></span>{{trust}}
                    </label>
                  </div>
                </form>
              </div>
            </div>

          </div>
        </div>
        <div class="col-md-10 col-sm-3">
          
          
          <div class="row">
            <div data-ng-repeat="event in events | filter:categoryFilter | filter:venueFilter | filter:associationFilter | filter:clubFilter | filter:institutionFilter | filter:trustFilter | filter:dateFilter |  filter:query"
              class="col-md-4 col-sm-4 col-xs-12">
              <div class="card">
                <div class="card-date">
                  <span class="card-date-day">{{event.startday}} </span>
                  <span class="card-date-month">{{event.startmonth}}</span>
                </div>
                <div class="card-category">
                  <a ng-href="#!/events/{{event._id}}">{{ event.category}}</a>
                </div>
                <div class="card-image">
                  <a ng-href="#!/events/{{event._id}}">
                    <img class="img" ng-src="{{event.imgsrc}}"> </a>
                </div>
                <div class="table">
                  <h4 class="card-caption">
                    <a ng-href="#!/events/{{event._id}}">{{event.title}}</a>
                  </h4>
                  <div class="card-desc">
                    <div class="author">
                      <i class="icon-office" aria-hidden="true"></i> {{event.orgBy.name}}</div>
                    <div class="author">
                      <i class="icon-location3" aria-hidden="true"></i> {{event.venue.name}} </div>
                    <div class="stats">
                      <i class="icon-alarm" aria-hidden="true"></i>{{event.starttime}} - {{event.endtime}} </div>
                  </div>
                  <div ng-class="{'card-status bg-success text-white': event.status === 'Approved', 'card-status bg-warning text-white': event.status === 'pending', 'card-status bg-danger text-white': event.status === 'Rejected'}">{{event.status}}</div>
                </div>
              </div>
            </div>
          </div>
          <!--<div class="row push-30">
          </div>-->
        </div>
      </div>
    </div>
  </div>
</div>

<!-- END Page Content -->