<ul class="breadcrumb">
    <li>Home</li>
    <li>Events Management</li>
    <li>
      <a class="link-effect" href="">Event Report</a>
    </li>
</ul>
  
  <!-- Page Content -->
  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="element-wrapper">
          <div class="element-box">
            <div class="element-info">
              <div class="row align-items-center">
                <div class="col-sm-6">
                  <div class="element-info-text">
                    <h4 class="element-inner-header">Events Report</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Page Content -->
        <div class="row">
            <div class="content">
                <div class="col-sm-6">
                    <label for="coCurricular">CoCurricular</label>
                    <div class="block-content">
                        <div zingchart id="myChart" zc-json="associationJson" zc-width="100%"></div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label for="coCurricular">ExtraCurricular</label>
                    <div class="block-content">
                        <div zingchart id="myChart1" zc-json="clubJson" zc-width="100%"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="content">
                <div class="col-sm-12">
                    <label for="categories">Categories</label>
                    <div class="block-content">
                        <div zingchart id="myChart2" zc-json="categoryJson" zc-width="100%"></div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- END Page Content -->