<ul class="breadcrumb">
    <li>Home</li>
    <li>Events Management</li>
    <li>
        <a class="link-effect" href="">Event Setup</a>
    </li>
</ul>
<div class="content">
    <div class="element-wrapper">
      <div class="element-actions"> <a href="#" class="add btn btn-primary btn-sm" data-target="#createAssociationModal" data-toggle="modal"><i class="icon-add"></i><span>Add Association</span></a> </div>
      <h4 class="element-header">Association Management</h4>
    </div>
    <div class="block">
      <div class="block-content">
        <div class="row push-30">
          <div class="col-sm-12">
            <table class="table table-striped table-hover standard-table font-s14 js-dataTable-full">
              <thead>
                <tr>
                  <th width="15%">Association Name</th>
                  <th width="15%">Association Admin</th>
                  <th >Can Conduct Event in Categories</th>
                  <th width="15%">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="association in associations">
                  <td data-title="Name">{{association.name}}</td>
                  <td data-title="Admin">{{association.admin}}</td>
                  <td data-title="Categories"><span ng-repeat="category in association.categories" class="badge">{{category}}</span></td>
                  <td data-title="Action"><a href="#" data-target="#editAssociationModal" data-toggle="modal" ng-click="setupAssociation($index)" class="btn btn-default btn-xs push-5-r"><i class="icon-pencil"></i> Edit</a><a  href="javascript:void(0)" data-target="#deleteModal" data-toggle="modal" class="btn btn-default btn-xs" ng-click="setupAssociation($index)"><i class="   icon-cross2"></i> Delete</a></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      
      <!-- END Page Content --></div>
  </div>
  
  <div id="createAssociationModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Add Association</h4>
        </div>
        <div class="modal-body">
            <form class="js-validation-bootstrap">
          <div class="row form-group">
            <div class="col-sm-6">
              
              <label for="assocName">Association Name</label>
              <input id="assocName" placeholder="" name="associationName" class="form-control" ng-model="association.name" type="text">
            </div>
            <div class="col-sm-6">
              <label for="assocAdmin">Association Administrator</label>
              <input id="assocAdmin" name="associationAdmin" placeholder="" class="form-control"  ng-model="association.admin" type="text">
            </div>
          </div>
          <div class="row form-group">
            <div class="col-sm-12">
              <label for="assocCategories" >Can Conduct Event in Categories</label>
              <select data-js2-select2 class="form-control" id="assocCategories" data-placeholder="Please Select Categories" multiple="" ng-model="association.categories">
              <option ng-repeat="category in associationCategories" value="{{category}}">{{category}}</option>
              <!-- <option>Category 1</option>
              <option>Category 2</option> -->
              </select>
            </div>
          </div>
        </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" ng-click="createAssociation(association)" class="btn btn-primary">Add Association</button>
        </div>
      </div>
    </div>
  </div>  
  <div id="editAssociationModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Edit Association</h4>
        </div>
        <div class="modal-body">
            <form class="js-validation-bootstrap">
          <div class="row form-group">
            <div class="col-sm-6">
              
              <label for="assocName">Association Name</label>
              <input id="assocName" placeholder="" name="associationName" class="form-control" ng-model="association.name" type="text">
            </div>
            <div class="col-sm-6">
              <label for="assocAdmin">Association Administrator</label>
              <input id="assocAdmin" name="associationAdmin" placeholder="" class="form-control"  ng-model="association.admin" type="text">
            </div>
          </div>
          <div class="row form-group">
            <div class="col-sm-12">
              <label for="assocCategories" >Can Conduct Event in Categories</label>
              <select data-js2-select2 class="form-control" id="assocCategories" data-placeholder="Please Select Categories" multiple="" ng-model="association.categories">
              <option ng-repeat="category in associationCategories" value="{{category}}">{{category}}</option>
              <!-- <option>Category 1</option>
              <option>Category 2</option> -->
              </select>
            </div>
          </div>
        </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" ng-click="editAssociation(association)" class="btn btn-primary">Add Association</button>
        </div>
      </div>
    </div>
  </div>  
  <div id="deleteModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Edit Association</h4>
        </div>
        <div class="modal-body">
          Are You Sure to delete this Association
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
          <button type="button" ng-click="deleteAssociation()" data-dismiss="modal" class="btn btn-primary">Yes</button>
        </div>
      </div>
    </div>
  </div>    