<ul class="breadcrumb">
    <li>Home</li>
    <li>Events Management</li>
    <li>
        <a class="link-effect" href="">Event Setup</a>
    </li>
</ul>
<div class="content">
    <div class="element-wrapper">
      <div class="element-actions"> <a href="#" class="add btn btn-primary btn-sm" data-target="#createClubModal" data-toggle="modal"><i class="icon-add"></i><span>Add Club</span></a> </div>
      <h4 class="element-header">Club Management</h4>
    </div>
    <div class="block">
      <div class="block-content">
        <div class="row push-30">
          <div class="col-sm-12">
            <table class="table table-striped table-hover standard-table font-s14 js-dataTable-full">
              <thead>
                <tr>
                  <th width="15%">Club Name</th>
                  <th width="15%">Club Admin</th>
                  <th >Can Conduct Event in Categories</th>
                  <th width="15%">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="club in clubs">
                  <td data-title="Name">{{club.name}}</td>
                  <td data-title="Admin">{{club.admin}}</td>
                  <td data-title="Categories"><span ng-repeat="category in club.categories" class="badge">{{category}}</span></td>
                  <td data-title="Action"><a href="#" data-target="#editClubModal" data-toggle="modal" ng-click="setupClub($index)" class="btn btn-default btn-xs push-5-r"><i class="icon-pencil"></i> Edit</a><a  href="javascript:void(0)" data-target="#deleteModal" data-toggle="modal" class="btn btn-default btn-xs"><i class="   icon-cross2"></i> Delete</a></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      
      <!-- END Page Content --></div>
  </div>
  
  <div id="createClubModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Add Club</h4>
        </div>
        <div class="modal-body">
            <form class="js-validation-bootstrap">
          <div class="row form-group">
            <div class="col-sm-6">
              
              <label for="assocName">Club Name</label>
              <input id="assocName" placeholder="" name="clubName" class="form-control" ng-model="club.name" type="text">
            </div>
            <div class="col-sm-6">
              <label for="assocAdmin">Club Administrator</label>
              <input id="assocAdmin" name="clubAdmin" placeholder="" class="form-control"  ng-model="club.admin" type="text">
            </div>
          </div>
          <div class="row form-group">
            <div class="col-sm-12">
              <label for="assocCategories" >Can Conduct Event in Categories</label>
              <select data-js2-select2 class="form-control" id="assocCategories" data-placeholder="Please Select Categories" multiple="" ng-model="club.categories">
              <option ng-repeat="category in clubCategories" value="{{category}}">{{category}}</option>
              <!-- <option>Category 1</option>
              <option>Category 2</option> -->
              </select>
            </div>
          </div>
        </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" ng-click="createClub(club)" class="btn btn-primary">Add Club</button>
        </div>
      </div>
    </div>
  </div>  
  <div id="editClubModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Edit Club</h4>
        </div>
        <div class="modal-body">
            <form class="js-validation-bootstrap">
          <div class="row form-group">
            <div class="col-sm-6">
              <label for="assocName">Club Name</label>
              <input id="assocName" name="clubName" placeholder="" class="form-control" ng-model="club.name" type="text">
            </div>
            <div class="col-sm-6">
              <label for="assocAdmin">Club Administrator</label>
              <input id="assocAdmin" name="clubAdmin" placeholder="" class="form-control"  ng-model="club.admin" type="text">
            </div>
          </div>
          <div class="row form-group">
            <div class="col-sm-12">
              <label for="assocCategories" >Can Conduct Event in Categories</label>
              <select data-js2-select2 class="form-control" id="assocCategories" data-placeholder="Please Select Categories" multiple="" ng-model="club.categories">
              <option ng-repeat="category in clubCategories" value="{{category}}">{{category}}</option>
              <!-- <option>Category 1</option>
              <option>Category 2</option> -->
              </select>
            </div>
          </div>
        </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" ng-click="editClub(club)" data-dismiss="modal" class="btn btn-primary">Save</button>
        </div>
      </div>
    </div>
  </div>
  <div id="deleteModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Delete Club</h4>
        </div>
        <div class="modal-body">
          Are You Sure to delete this Club
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
          <button type="button" ng-click="deleteClub()" data-dismiss="modal" class="btn btn-primary">Yes</button>
        </div>
      </div>
    </div>
  </div>    