<ul class="breadcrumb">
  <li>Home</li>
  <li>Events Management</li>
  <li>
    <a class="link-effect" href="">Event Setup</a>
  </li>
</ul>
<div class="content">
  <div class="element-wrapper">
    <div class="element-actions">
      <a href="#" class="add btn btn-primary btn-sm" data-target="#createVenueModal" ng-click="addorCreateVenue()" data-toggle="modal">
        <i class="icon-add"></i>
        <span>Add Venue</span>
      </a>
    </div>
    <h4 class="element-header">Venue Management</h4>
  </div>
  <div class="block">
    <div class="block-content">
      <div class="row push-30">
        <div class="col-sm-12">
          <table class="table table-striped table-hover standard-table font-s14 js-dataTable-full">
            <thead>
              <tr>
                <th width="10%">Venue</th>
                <th width="10%">Block</th>
                <th width="10%">Hall Number</th>
                <th width="10%">Capacity</th>
                <th width="10%">Incharge</th>
                <th width="10%">Projector</th>
                <th width="10%">Google location</th>
                <th width="10%">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="venue in venues">
                <td data-title="Name">{{venue.name}}</td>
                <td data-title="BlockName">{{venue.blockName}}</td>
                <td data-title="HallNo">{{venue.hallNo}}</td>
                <td data-title="Capacity">{{venue.capacity}}</td>
                <td data-title="Incharge">{{venue.incharge}}</td>
                <td data-title="Incharge">{{venue.projector}}</td>
                <td data-title="location">{{venue.location}}</td>
                <td data-title="Action">
                  <a href="#" data-target="#editVenueModal" data-toggle="modal" ng-click="setupVenue($index)" class="btn btn-default btn-xs push-5-r">
                    <i class="icon-pencil"></i> Edit</a>
                  <a href="javascript:void(0)" data-target="#deleteModal" data-toggle="modal" class="btn btn-default btn-xs"
                    ng-click="setupVenue($index)">
                    <i class="   icon-cross2"></i> Delete</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>

    <!-- END Page Content -->
  </div>
</div>

<div id="createVenueModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Add Venue</h4>
      </div>
      <div class="modal-body">
        <form class="js-validation-bootstrap">
          <div class="row form-group">
            <div class="col-sm-6">

              <label for="venueName">Venue Name</label>
              <input id="venueName" placeholder="" name="venueName" class="form-control" ng-model="venue.name" type="text">
            </div>
            <div class="col-sm-6">
              <label for="venueLocation">Venue Google location</label>
              <input id="venueLocation" placeholder="https://www.google.com/maps/search/?api=1&parameters" name="venueUrl" class="form-control" ng-model="venue.location" type="text">
            </div>
          </div>
            <div class="row form-group">
              <div class="col-sm-6">
                <label for="venueBlock">Block Name</label>
                <input id="venueBlock" placeholder="" name="venueBlock" class="form-control" ng-model="venue.blockName" type="text">
              </div>
              <div class="col-sm-6">
                <label for="venueHallNo">Hall Number</label>
                <input id="venueHallNo" placeholder="" name="venueHallNo" class="form-control" ng-model="venue.hallNo" type="text">
              </div>
            </div>
          <div class="row form-group">
            <div class="col-sm-6">
              <label for="venueCapacity">Venue Capacity</label>
              <input id="venueCapacity" placeholder="" name="venueCapacity" class="form-control" ng-model="venue.capacity" type="text">
            </div>
            <div class="col-sm-6">
              <label for="venueIncharge">Venue Incharge</label>
              <input id="venueIncharge" placeholder="" name="venueIncharge" class="form-control" ng-model="venue.incharge" type="text">
            </div>
          </div>
          <div class="row form-group">
            <div class="col-sm-6">
              <label for="venuProjector">Venue Has Multimedia Projector</label>
              <br>
              <label class="css-input css-radio css-radio-primary m-r-20" for="venuProjector1">
                <input name="venuProjector1" id="venuProjector1" value="Yes" type="radio" data-ng-model="venue.projector">
                <span></span> Yes </label>
              <label class="css-input css-radio css-radio-primary" for="venuProjector2">
                <input name="venuProjector2" id="venuProjector2" value="No" type="radio" data-ng-model="venue.projector">
                <span></span> No </label>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" ng-click="createVenue(venue)" class="btn btn-primary">Add Venue</button>
      </div>
    </div>
  </div>
</div>
<div id="editVenueModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Edit Venue</h4>
      </div>
      <div class="modal-body">
        <form class="js-validation-bootstrap">
          <div class="row form-group">
            <div class="col-sm-6">

              <label for="venueName">Venue Name</label>
              <input id="venueName" placeholder="" name="venueName" class="form-control" ng-model="venue.name" type="text">
            </div>
            <div class="col-sm-6">
              <label for="venueLocation">Venue Google location</label>
              <input id="venueLocation" placeholder="https://www.google.com/maps/search/?api=1&parameters" name="venueUrl" class="form-control" ng-model="venue.location" type="text">
            </div>
          </div>
          <div class="row form-group">
              <div class="col-sm-6">
                <label for="venueBlock">Block Name</label>
                <input id="venueBlock" placeholder="" name="venueBlock" class="form-control" ng-model="venue.blockName" type="text">
              </div>
              <div class="col-sm-6">
                <label for="venueHallNo">Hall Number</label>
                <input id="venueHallNo" placeholder="" name="venueHallNo" class="form-control" ng-model="venue.hallNo" type="text">
              </div>
            </div>
          <div class="row form-group">
            <div class="col-sm-6">
              <label for="venueCapacity">Venue Capacity</label>
              <input id="venueCapacity" placeholder="" name="venueCapacity" class="form-control" ng-model="venue.capacity" type="text">
            </div>
            <div class="col-sm-6">
              <label for="venueIncharge">Venue Incharge</label>
              <input id="venueIncharge" placeholder="" name="venueIncharge" class="form-control" ng-model="venue.incharge" type="text">
            </div>
          </div>
          <div class="row form-group">
            <div class="col-sm-6">
              <label for="venuProjector">Venue Has Multimedia Projector</label>
              <br>
              <label class="css-input css-radio css-radio-primary m-r-20" for="venuProjector1">
                <input name="venuProjector1" id="venuProjector1" value="Yes" type="radio" data-ng-model="venue.projector">
                <span></span> Yes </label>
              <label class="css-input css-radio css-radio-primary" for="venuProjector2">
                <input name="venuProjector2" id="venuProjector2" value="No" type="radio" data-ng-model="venue.projector">
                <span></span> No </label>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" ng-click="editVenue(venue)" class="btn btn-primary">Edit Venue</button>
      </div>
    </div>
  </div>
</div>
<div id="deleteModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Delete Venue</h4>
      </div>
      <div class="modal-body">
        Are You Sure to delete this Venue
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        <button type="button" ng-click="deleteVenue()" data-dismiss="modal" class="btn btn-primary">Yes</button>
      </div>
    </div>
  </div>
</div>