<ul class="breadcrumb">
    <li>Home</li>
    <li>Events Management</li>
    <li>
        <a class="link-effect" href="">Event Setup</a>
    </li>
</ul>
<div class="content">
    <div class="element-wrapper">
      <div class="element-actions"></div>
      <h4 class="element-header">Category Management</h4>
    </div>
    <div class="block">
      <div class="block-content">
        <div class="row push-30">
          <div class="col-sm-12">
            <table class="table table-striped table-hover standard-table font-s14 js-dataTable-full">
              <thead>
                <tr>
                  <th width="15%">Category name</th>
                  <th width="30%">Category Default Values</th>
                  <th width="15%">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td data-title="Name">Associations</td>
                  <td ng-show="!associationCategories.values"><a href="" data-target="#editCategoryModal" data-toggle="modal" class="btn btn-primary" ng-click="createCategory('association')">Create Associations</a></td>
                  <td ng-show="associationCategories.values" data-title="Categories"><span ng-repeat="category in associationCategories.values" class="badge">{{category}}</span></td>
                  <td ng-show="associationCategories.values" data-title="Action"><a href="#" data-target="#editCategoryModal" data-toggle="modal" ng-click="setupCategory(associationCategories)" class="btn btn-default btn-xs push-5-r"><i class="icon-pencil"></i> Edit</a></td>
                </tr>
                <tr>
                    <td data-title="Name">Clubs</td>
                    <td ng-show="!clubCategories.values"><a href="" data-target="#editCategoryModal" data-toggle="modal" class="btn btn-primary" ng-click="createCategory('club')">Create Clubs</a></td>
                    <td ng-show="clubCategories.values" data-title="Categories"><span ng-repeat="category in clubCategories.values" class="badge">{{category}}</span></td>
                    <td ng-show="clubCategories.values" data-title="Action"><a href="#" data-target="#editCategoryModal" data-toggle="modal" ng-click="setupCategory(clubCategories)" class="btn btn-default btn-xs push-5-r"><i class="icon-pencil"></i> Edit</a></td>
                  </tr>
                  <tr>
                    <td data-title="Name">Institution</td>
                    <td ng-show="!institutionCategories.values"><a href="" data-target="#editCategoryModal" data-toggle="modal" class="btn btn-primary" ng-click="createCategory('institution')">Create Institutions</a></td>
                    <td ng-show="institutionCategories.values" data-title="Categories"><span ng-repeat="category in institutionCategories.values" class="badge">{{category}}</span></td>
                    <td ng-show="institutionCategories.values" data-title="Action"><a href="#" data-target="#editCategoryModal" data-toggle="modal" ng-click="setupCategory(institutionCategories)" class="btn btn-default btn-xs push-5-r"><i class="icon-pencil"></i> Edit</a></td>
                  </tr>
                  <tr>
                    <td data-title="Name">Trust</td>
                    <td ng-show="!trustCategories.values"><a href="" data-target="#editCategoryModal" data-toggle="modal" class="btn btn-primary" ng-click="createCategory('trust')">Create Trust</a></td>
                    <td ng-show="trustCategories.values" data-title="Categories"><span ng-repeat="category in trustCategories.values" class="badge">{{category}}</span></td>
                    <td ng-show="trustCategories.values" data-title="Action"><a href="#" data-target="#editCategoryModal" data-toggle="modal" ng-click="setupCategory(trustCategories)" class="btn btn-default btn-xs push-5-r"><i class="icon-pencil"></i> Edit</a></td>
                  </tr>
                  <tr>
                    <td data-title="Name">External</td>
                    <td ng-show="!externalCategories.values"><a href="" data-target="#editCategoryModal" data-toggle="modal" class="btn btn-primary" ng-click="createCategory('external')">Create External</a></td>
                    <td ng-show="externalCategories.values" data-title="Categories"><span ng-repeat="category in externalCategories.values" class="badge">{{category}}</span></td>
                    <td ng-show="externalCategories.values" data-title="Action"><a href="#" data-target="#editCategoryModal" data-toggle="modal" ng-click="setupCategory(externalCategories)" class="btn btn-default btn-xs push-5-r"><i class="icon-pencil"></i> Edit</a></td>
                  </tr>
              </tbody>
            </table>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      
      <!-- END Page Content --></div>
  </div>
  
  <div id="editCategoryModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Edit Category</h4>
        </div>
        <div class="modal-body">
            <form class="js-validation-bootstrap">
          <div class="row form-group">
            <div class="col-sm-6">
              <label class="control-label">{{selectedType.type}}</label>
            </div>
          </div>
          <div class="row form-group">
           <div class="col-sm-12">
             <label for="Setcategory">Add or Remove Categories</label>
             <tags-input ng-model="selectedType.values" class="angtaginput" use-strings="true">
              
             </tags-input>
           </div>
          </div>
        </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" ng-click="editCategory(selectedType)" data-dismiss="modal" class="btn btn-primary">Save</button>
        </div>
      </div>
    </div>
  </div>
  